# Ignore env and data
.venv/
__pycache__/
*.ipynb_checkpoints
.env
.DS_Store

# RAG indices & metadata
rag/*.index
rag/*.pkl


# RAG indices & metadata
rag/*.index
rag/*.pkl

# test files
test

#data
data/*